#index_body {
    text-align: center;
    background-color: slategray;
    background-image: url("background4.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 900px;
    
}

#game_body {
    background-color: slategray;
    background-image: url("Background5.jfif");
    background-repeat: no-repeat;
    background-size: 1550px 900px;
}

.login_div1{

    margin-top: 20px;
    text-align:center;
    background-color: rgb(245, 201, 79);
    border-radius: 15px;
    float: none;
    height:300px;
}

label{
    margin-top: 60px;
}

#output{
    background: #F16A70;
    border-radius: 10px;
    border-top: 10px solid white;
    padding:10px;
    float:none;
    text-align: left;
}
